<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ortoprevina">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrtoPrevina">



        <activity android:name="com.example.ortoprevina.Iniciando"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ortoprevina.MainActivity"
            android:exported="true">

        </activity>
        <activity android:name="com.example.ortoprevina.SobreoApp">

        </activity>
        <activity android:name="com.example.ortoprevina.Resultado"
            android:exported="true"
            tools:ignore="DuplicateActivity">


        </activity>
        <activity android:name="com.example.ortoprevina.MaisOrientacoes"
            android:exported="true">

        </activity>
        <activity android:name="com.example.ortoprevina.Abaixode10"
        android:exported="true">

        </activity>
        <activity android:name="com.example.ortoprevina.Guia"
            android:exported="true">

        </activity>


    </application>


</manifest>